<h1>Dojo Weather FOrecast</h1>
<p><a [routerLink]="['/Seattle']">Seattle WA</a><a [routerLink]="['/SanJose']">San Jose, CA</a><a [routerLink]="['/Burbank']">Burbank CA</a><a [routerLink]="['/Dallas']">Dallas TX</a><a [routerLink]="['/Washington DC']">Washington DC</a><a [routerLink]="['/Chicago']">Chicago IL</a></p>
<h1>{{city}}</h1>
<p>Humidity:{{Humidity}}</p>
<p>Temperature(Average):{{TempreatureAverage}}</p>
<p>Temperature(High):{{TempreatureHigh}}</p>
<p>Temperature(Low):{{TempreatureLow}}</p>
<p>Status:{{Status}}</p>
